/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .product-details {
    max-width: 800px;
    max-height: 450px;
    background: #ffffff;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s;
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
 }
 /* .easy-product-images {
    width: 50%;
    overflow: hidden;
    position: relative;
    height: auto;
 } */
.easy-product-images img {
    border-radius: 0 !important;
    box-shadow: inherit !important;
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 438px;
}
/* .easy-wqv-info-wrapper {
    width: 50%;
    overflow: auto;
    margin: 0 !important;
    padding: 20px;
    height: auto;
} */

.easy-wqv-info-wrapper .product_title.entry-title {
    clear: none;
    margin-top: 0;
    padding: 0;
    margin-bottom: 0;
}

.easy-wqv-info-wrapper .price {
    color: #77a464;
    font-size: 1.25em;
    margin: 15px 0 !important;
}

.easy-wqv-info-wrapper .price del {
    opacity: .5;
    display: inline-block;
}
.easy-wqv-info-wrapper .price ins {
    font-weight: 700;
    display: inline-block;
}

.easy-wqv-info-wrapper .cart {
    margin-bottom: 15px;
}
.easy-wqv-info-wrapper .cart .quantity {
    display: inline-block;
}
.easy-wqv-info-wrapper .cart .quantity .qty{
    max-width: 60px;
    border-radius: 1px;
    margin: 0 10px 0 0;
    padding: 0 4px;
    background-color: #f2f2f2;
    color: #43454b;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-weight: 400;
    box-shadow: 0 0 0;
    text-align: center;
    line-height: 35px;
}

.easy-wqv-info-wrapper .cart .single_add_to_cart_button {
    color: #ffffff;
    background: #333333;
    padding: 0px 16px;
    line-height: 35px;
}
.easy-wqv-info-wrapper .product_meta .sku_wrapper {
    display: block;
    padding: 10px 0px;
    border-top: 1px solid #eaecee;
    color: #777777;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    font-weight: normal;
}
.easy-wqv-info-wrapper .product_meta .posted_in {
    display: block;
    padding: 10px 0px;
    border-top: 1px solid #eaecee;
    color: #777777;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    font-weight: normal;
}
.product-details .mfp-close {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 15px;
}
.product-details .mfp-close:hover {
    background: transparent; 
}
.mfp-bg.mfp-ewqv {
    background: rgba( 0, 0, 0, 0.8);
}

.mfp-wrap.mfp-ewqv {
    z-index: 999999;
}

.easy-wqv-info-wrapper .cart .variations {
    border: 0;
}

.easy-wqv-info-wrapper .cart .variations tbody tr th {
    border: 0;
}
.easy-wqv-info-wrapper .cart .variations tbody tr td {
    padding-left: 0;
    border: 0;
}
.easy-wqv-info-wrapper .cart .variations tbody tr td select {
    max-width: 100%;
    min-width: 75%;
    display: inline-block;
    margin-right: 20px;
}
.easy-wqv-info-wrapper .cart .variations tbody tr td  a.reset_variations{
    /* display: none; */
}

.product-details > .product {
    display: flex !important;
    float: none !important;
}

.product-details > .product > div {
    width: 50% !important;
    float: none !important;
    margin: 0 !important;
    height: 450px;
    overflow: auto;
}

.product-details > .product .summary .summary-content {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    padding: 20px;
}